.text {
  text-align: center;
  font-size: 50px;
  font-family: "Comic Sans MS", sans-serif;
  font-weight: bold;
  padding-top: 50px;
}

.option-slider {
  display: inline;
}

.custom-margin {
  margin-top: 10px
}
.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.sliders {
  margin: 4px 10px 10px 0;
}

.table {
  height: 400px;
  overflow: auto;
  cursor: pointer;
}
