<div class="text">Units</div>


<div *ngIf="filterForm" [formGroup]="filterForm">
<h1>Ages</h1>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="bold">All</mat-button-toggle>
  <mat-button-toggle value="italic">Dark</mat-button-toggle>
  <mat-button-toggle value="underline">Feudal</mat-button-toggle>
  <mat-button-toggle value="underline">Castle</mat-button-toggle>
  <mat-button-toggle value="underline">Imperial</mat-button-toggle>
</mat-button-toggle-group>

<h1>Costs</h1>
<div fxLayout="row">
    <mat-selection-list>
      <mat-list-option checkboxPosition="before" *ngFor="let material of materials">
        {{material}}
      </mat-list-option>
    </mat-selection-list>
  <div fxLayout="column" fxLayoutGap="10px" class="custom-margin">
    <mat-slider [min]="1" [max]="200">
      <input matSliderThumb formControlName="wood" >
    </mat-slider>
    <mat-slider [min]="1" [max]="225">
      <input matSliderThumb formControlName="food" >
    </mat-slider>
    <mat-slider [min]="1" [max]="225">
      <input matSliderThumb formControlName="gold" >
    </mat-slider>
  </div>
</div>

</div>
{{toBeDisplayed|json}}

