.text {
  text-align: center;
  font-size: 50px;
  font-family: "Comic Sans MS", sans-serif;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}

.table {
  height: 400px;
  overflow: auto;
}
