<div class="text">Unit Detail</div>
<table class="table" style="width:100%">
  <tr>
    <th>Id</th>
    <td></td>
  </tr>
  <tr>
    <th>Name</th>
    <td></td>
  </tr>
  <tr>
    <th>Description</th>
    <td></td>
  </tr>
  <tr>
    <th>Min. Req. Age</th>
    <td></td>
  </tr>
  <tr>
    <th>Wood Cost</th>
    <td></td>
  </tr>
  <tr>
    <th>Food Cost</th>
    <td></td>
  </tr>
  <tr>
    <th>Gold Cost</th>
    <td></td>
  </tr>
  <tr>
    <th>Build Time</th>
    <td></td>
  </tr>
  <tr>
    <th>Reload Time</th>
    <td></td>
  </tr>
  <tr>
    <th>Hit Points</th>
    <td></td>
  </tr>
  <tr>
    <th>Attack</th>
    <td></td>
  </tr>
  <tr>
    <th>Accuracy</th>
    <td></td>
  </tr>
</table>
